# Windows 7 兼容性配置

[target.i686-pc-windows-msvc]
rustflags = [
    # 设置最低Windows版本为Windows 7 (0x0601)
    "-C", "link-arg=/SUBSYSTEM:WINDOWS,6.01",
    # 禁用新的Windows API特性
    "-C", "target-feature=-crt-static",
]

[target.x86_64-pc-windows-msvc]
rustflags = [
    # 设置最低Windows版本为Windows 7 (0x0601)  
    "-C", "link-arg=/SUBSYSTEM:WINDOWS,6.01",
]

[env]
# 强制使用Windows 7兼容的API
WINVER = "0x0601"
_WIN32_WINNT = "0x0601"